/* Till alla */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;

    margin: 0;

    font-family: 'Roboto', sans-serif;
}

:root {
    --header_height: 50px;
    --nav_height: 25px;
    --footer_height: 150px;
    --card_border_radius: 0;
}



/* Bakgrund */
html { 
    background: url(../img/nature/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    width: 100%;
}

#card_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--header_height);

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#card_nav > nav {
    display: flex;
    align-items: center;

    height: var(--nav_height);
}

#card_nav > nav > *:not(:last-child) {
    margin-right: 10px;
}

#card_nav > nav > a > img {
   width: auto;
   height: var(--nav_height);
}



/* Footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1.618fr 1fr;

    width: 100%;
    height: var(--footer_height);
}



/* Binder */
#binder {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: var(--header_height);
}

#binder > *:not(:last-child) {
    margin-bottom: 30px;
}



/* Kort */
.card {
    display: grid;

    width: 70vw;

    background-color: rgb(255, 255, 255);
    border-radius: var(--card_border_radius);
}

#card_top {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "left1 right"
    "left2 right"
    "left3 right";

    height: 500px;
}

.top_articles {
    background-color: black;
    border-radius: var(--card_border_radius);
    margin: 10px;
}

#top_left_1 {
    grid-area: left1;
    background: url(../img/top/left1.jpeg);
    background-size: cover;
}

#top_left_2 {
    grid-area: left2;
    background: url(../img/top/left2.webp);
    background-size: cover;
}

#top_left_3 {
    grid-area: left3;
    background: url(../img/top/left3.webp);
    background-size: cover;
}

#top_right {
    grid-area: right;
    background: url(../img/top/right.jpg);
    background-size: cover;
}