/* GLOBALA SAKER */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(244,229,255);
}

:root{
    --site_padding_vertical: 20px;
    --site_padding_horizontal: 30px;

    --header_height: 4rem;
    --header_nav_height: 1.5rem;
    --header_nav_spacing: 30px;

    --footer_height: 350px;

    --binder_width: 1200px;
    --binder_spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Julius+Sans+One&family=Mulish:wght@600&family=Nerko+One&family=Work+Sans:wght@300;500;800&display=swap');
a{text-decoration: none;}
h1          	{font-size: 2rem;                           color: black;       font-family: 'Work Sans', sans-serif;}
nav > a         {font-size: 0.85rem;                        color: black;       font-family: sans-serif;}
nav > a > img   {height: var(--header_nav_height);          color: black;       font-family: sans-serif;}


/* ÅTERANVÄNDA ELEMENT */
.search-bar{
    display: flex;
    align-items: center;

    width: 200px;
    height: 2rem;
    max-width: 500px;

    padding: 0.25rem 0.5rem 0.25rem 1rem;

    border-radius: 1rem;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px) saturate(180%);
}
.search-bar > input{
    flex: 1;

    border: 0;
    outline: 0;

    font-size: 0.75rem;

    background: transparent;
}
.search-bar > button{
    width: 1.5rem;
    height: 1.5rem;

    border-radius: 100%;
    border: 0;
    outline: 0;

    background: transparent;
}
.search-bar > button > img{width: 1.15rem;}


/* ÖVERGRIPANDE GRID */
#grid_wrapper{
    display: grid;
    grid-template-columns: 1fr var(--binder_width) 1fr;
    grid-template-rows: var(--header_height) minmax(min-content, max-content) var(--footer_height);
    grid-template-areas:
    ". header ."
    ". binder ."
    "footer footer footer";
}
header      {grid-area: header;}
footer      {grid-area: footer;}
#binder     {grid-area: binder;}


/* HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(244,229,255);
}

header > nav {
    display: flex;
    align-items: center;
}
header > nav > *:not(:last-child) {margin-right: var(--header_nav_spacing);}
header > nav > .search-bar {

}


/* FOOTER */
footer{
    background-color: #708dac;
}


/* GLOBALA KORT SAKER */
#binder{
    display: flex;
    flex-direction: column;
}

.card{
    margin-bottom: var(--binder_spacing);
    background-color: #3e4042;
}


/* CARD (TOP) */
#card-top {
    height: 650px;
    background-color: rgb(244,229,255);
}


/* CARD TICKETS */
#card-tickets {
    height: 500px;
    background-color: white;
}