/* Till alla */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Julius+Sans+One&family=Mulish:wght@600&family=Nerko+One&family=Work+Sans:wght@300;500;800&display=swap');

*{
    box-sizing: border-box;

    margin: 0;
}

:root {
    --p_standard_size: 3vh;
    --h_standard_size: 5vh;
    --header_height: 10vh;
    --nav_height: 2vh;
    --nav_spacing: 3vw;

    --card_border_radius: 2vh;
    --card_width: 75vw;
    --card_spacing: 20vh;

    --padding_default: 40px;
    --picture_margin: 2vw;
    --square_img_width: 25vh;

    --footer_height: 400px;
    --footer_padding_top: 50px; 
    --footer_font_size: 0.65rem;
    --footer_line_height: 24px;
    --footer_content_width: 800px;
    --footer_divider_margin: 50px;
    --footer_divider_width: 0.5px;

    --button_border_radius: 7px;
    --button_padding_side: 30px;
    --button_padding_vertical: 10px;
    --button_text_size: 1.25rem;

    --donate_img_size: calc(var(--card_width) / 2);
    --donate_text_size: 1rem;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: var(--h_standard_size);
}

h2 {
    font-family: 'Nerko One', cursive;
    font-weight: 100;
    font-size: var(--h_standard_size);
}

h3 {
    font-family: 'Nerko One', cursive;
    font-weight: 100;
    font-size: calc(var(--h_standard_size) * 1.5);
}

h4 {
    font-family: 'Mulish', sans-serif;
}

p {
    font-family: 'Mulish', sans-serif;
}

a {
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 100;
}

ul {
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    padding: 0;
    list-style-type: none;
}

.button {
    display: inline-block;
    
    background-color: rgb(18, 186, 124);
    border-radius: var(--button_border_radius);
    padding: var(--button_padding_vertical) var(--button_padding_side);
    width: fit-content;

    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    font-size: var(--button_text_size);
}



/* Bakgrund */
html { 
    background: rgb(236, 230, 227) no-repeat center center fixed;
}



/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    width: 100%;
}

#card_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: var(--card_width);
    height: var(--header_height);

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-right: var(--padding_default);
    padding-left: var(--padding_default);
    transition: 0.2s;
}

#card_nav > nav {
    display: flex;
    align-items: center;

    height: var(--nav_height);
}

#card_nav > nav > *:not(:last-child) {
    margin-right: var(--nav_spacing);
}

#card_nav > nav > a {
   height: var(--nav_height);

   text-decoration: none;
   color: black;
   font-weight: 900;
   font-size: var(--nav_height);
}

#card_nav > nav > a > img {
    height: 100%;
}



/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: var(--footer_height);
    
    background:rgb(2, 129, 83);
    padding: var(--footer_padding_top) calc(50% - var(--footer_content_width)/2);
}

#footer_binder {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
}

.footer_column::before {
    content:attr(aria-label);
    font-size:120%;
    font-weight:bolder;
    color: rgba(255, 255, 255, 0.9);
    font-size: calc(var(--footer_font_size) * 1.2);
    line-height: calc(var(--footer_font_size) * 5);
}

.footer_column > li > a {
    font-weight: 550;
    color: rgba(255, 255, 255, 0.9);
    font-size: var(--footer_font_size);
    line-height: calc(var(--footer_font_size) * 2.5);
}

#footer_copyright {
    width: 100%;

    text-align: right;
    color: rgba(255, 255, 255, 0.9);
    font-size: var(--footer_font_size);

    margin-top: var(--footer_font_size);
}

#footer_column_events {
    grid-area: ev;
}

#footer_column_plan {
    grid-area: pl;
}

#footer_column_school {
    grid-area: sc;
}

#footer_column_other {
    grid-area: ot;
}

#footer_divider{
    width: 100%;
    height: var(--footer_divider_width);
    background: rgba(255, 255, 255, 0.699);

    margin-top: var(--footer_divider_margin);
}



/* Binder */
#binder {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: calc(var(--header_height) - var(--card_border_radius));
}

#binder > * {
    margin-bottom: var(--card_spacing);
}



/* Kort */
.card {
    display: grid;

    width: var(--card_width);

    background-color: rgb(255, 255, 255);
    border-radius: var(--card_border_radius);
    padding: calc(var(--picture_margin)/2);
}

#card_top {
    width: var(--card_width);
    height: calc(var(--square_img_width)*4);
}

#top_left_1 {
    grid-area: left1;
    background: url(../img/top/left1.jpeg);
    background-size: cover;
}

#top_left_2 {
    grid-area: left2;
    background: url(../img/top/left2.jpg);
    background-size: cover;
}

#top_left_3 {
    grid-area: left3;
    background: url(../img/top/left3.webp);
    background-size: cover;
}

#top_right {
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding: 10vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.788)), url(../img/top/right.jpg);
    background-size: cover;
}

#top_right > p {
    width: 35vw;
}

#top_right > *:not(:last-child) {
    color: white;
    margin-bottom: 1vh;
}

#top_right > :last-child {
    margin-top: 1.5vh;
}

.top_articles {
    background-color: black;
    border-radius: var(--card_border_radius);
    margin: calc(var(--picture_margin)/2);
}

#top_big {
    background: url(../img/top/right.jpg);
    background-size: cover;
}



/* explore card */
#card_explore {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: 
    "title title title"
    "visit animals food";

    border-radius: 0;

    background-color: rgb(89, 153, 237);
    width: 100%;
    height: 98vh;
}

.explore_article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    border-radius: var(--card_border_radius);

    margin: calc(var(--picture_margin)/2);
    padding: 5vh;
}

.explore_article > h2 {
    font-size: 3rem;
    color: white;
}

#explore_title {
    grid-area: title;
    text-align: center;

    color: white;
    font-size: 3rem;
}

#explore_visit {
    grid-area: visit;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.788)), url(../img/animals/feeding-time-for-the-panda-550x413.jpeg);
    background-size: cover;
}

#explore_animals {
    grid-area: animals;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.788)), url(../img/animals/rs=w_365\,h_365\,cg_true.webp);
    background-size: cover;
}

#explore_food {
    grid-area: food;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.788)), url(../img/food/pizza.webp);
    background-size: cover;
}



/* donate card */
#card_donate {
    grid-template-columns: min-content(50%, 100%) var(--donate_img_size);
    grid-template-rows: var(--donate_img_size);
    grid-template-areas:
    "text img";

    height: cal(var(--square_img_width)*3);
}

#card_donate_text {
    display: flex;
    grid-area: text;

    flex-direction: column;
    justify-content: center;
}

#card_donate_text > *:not(:last-child) {
    margin-bottom: 15px;
}

#card_donate_img {
    grid-area: img;

    width: var(--donate_img_size);
    height: var(--donate_img_size);

    border-radius: var(--card_border_radius);
}

#card_donate_text > h2 {
    font-size: calc(var(--donate_text_size) * 2.25);
}

#card_donate_text > p {
    font-size: var(--donate_text_size);
    line-height: calc(var(--donate_text_size) * 2);
    padding-right: 5vw;
}



/* mission card */
#card_mission {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15vh;
}

#card_mission > p {
    text-align: center;
}



/* staff card */
#card_staff {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5vh 5vh;
}

#card_staff_binder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.staff_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: calc(var(--card_width) / 5);
    height: calc(var(--card_width) / 4.25);
    padding: 1vh;
    margin: 2vh 1vw;

    border-radius: var(--card_border_radius);
    background-color: rgb(255, 255, 255);
}

.staff_article > p {
    font-size: 0.75rem;
}

.staff_article > h3 {
    font-size: 2rem;
}

.staff_article > #staff_Binus_img {
    width: 100%;
    height: 100%;
    background: url(../img/persons/avatar-14442c2e192eabfebb9e45f07b23cdd8.jpg);
    background-size: cover;
    border-radius: var(--card_border_radius);
}

.staff_article > #staff_Markus_img {
    width: 100%;
    height: 100%;
    background: url(../img/persons/avatar-1b1afc16e9bc79edbb292d32abbc2a86.jpg);
    background-size: cover;
    border-radius: var(--card_border_radius);
}

.staff_article > #staff_Magreta_img {
    width: 100%;
    height: 100%;
    background: url(../img/persons/avatar-6eff317c04c60419d06b2f4b0323eef0.jpg);
    background-size: cover;
    border-radius: var(--card_border_radius);
}

.staff_article > #staff_Peter_img {
    width: 100%;
    height: 100%;
    background: url(../img/persons/avatar-23fdc1d1c52f710520d659f56a264b40.jpg);
    background-size: cover;
    border-radius: var(--card_border_radius);
}

.staff_article > #staff_Obingus_img {
    width: 100%;
    height: 100%;
    background: url(../img/persons/avatar-a23eed54c62b7e55dea7606998af0c9a.jpg);
    background-size: cover;
    border-radius: var(--card_border_radius);
}

.staff_article > #staff_Brigitte_img {
    width: 100%;
    height: 100%;
    background: url(../img/persons/avatar-d54eda9dcb9e319bb2b77b6e76cae8fc.jpg);
    background-size: cover;
    border-radius: var(--card_border_radius);
}

.staff_article > #staff_Joe_img {
    width: 100%;
    height: 100%;
    background: url(../img/persons/avatar-aea3441ddc1173c3b63794fe1ebcce0e.jpg);
    background-size: cover;
    border-radius: var(--card_border_radius);
}

.staff_article > #staff_Sara_img {
    width: 100%;
    height: 100%;
    background: url(../img/persons/avatar-7e6c3ea471a1ac6911e35c6b3fa46870.jpg);
    background-size: cover;
    border-radius: var(--card_border_radius);
}



/* food card */
#card_food {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15vh 13vw;
}

#card_food > p {
    text-align: center;
    margin-top: 3vh;
}



/* menu card*/
#card_menu {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 15vh 1fr 1fr;
    grid-template-areas:
    "title title title title"
    "pizza burger burger chickenandfish"
    "drinks drinks sides sides";

    height: 105vh;
}

.menu_article {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;

    padding: 2vh;

    border-radius: var(--card_border_radius);
    margin: calc(var(--picture_margin) / 2);
}

#card_menu > h2 {
    grid-area: title;
    font-size: 3rem;
    text-align: center;
}

.menu_article > h2 {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
    padding-top: 0;
}

.menu_article > h2 > p {
    font-size: 0.75rem;
}

.menu_article > h3 {
    color: white;
    font-size: 2rem;
    text-align: right;
    width: 100%;
    padding-bottom: 0;
}

#menu_pizza {
    grid-area: pizza;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.788)), url(../img/food/pizza.webp);
    background-size: cover;
}

#menu_hamburger {
    grid-area: burger;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.788)), url(../img/food/burger.jpeg);
    background-size: cover;
}

#menu_chicken_and_fish {
    grid-area: chickenandfish;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.788)), url(../img/food/bruh.jpeg);
    background-size: cover;
}

#menu_drinks {
    grid-area: drinks;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.788)), url(../img/food/drink.jpeg);
    background-size: cover;
}

#menu_sides {
    grid-area: sides;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.788)), url(../img/food/sides.jpeg);
    background-size: cover;
}