/* Till alla */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Julius+Sans+One&family=Mulish:wght@600&family=Nerko+One&family=Work+Sans:wght@300;500;800&display=swap');

*{
    box-sizing: border-box;

    margin: 0;
}

:root {
    --p_standard_size: 3vh;
    --h_standard_size: 5vh;
    --header_height: 10vh;
    --nav_height: 2vh;
    --nav_spacing: 3vw;

    --card_border_radius: 2vh;
    --card_width: 75vw;
    --card_spacing: 25vh;

    --padding_default: 40px;
    --picture_margin: 2vw;
    --square_img_width: 25vh;

    --footer_height: 400px;
    --footer_padding_top: 50px; 
    --footer_font_size: 0.65rem;
    --footer_line_height: 24px;
    --footer_content_width: 800px;
    --footer_divider_margin: 50px;
    --footer_divider_width: 0.5px;

    --button_border_radius: 7px;
    --button_padding_side: 30px;
    --button_padding_vertical: 10px;
    --button_text_size: 1.25rem;

    --donate_img_size: calc(var(--card_width) / 2);
    --donate_text_size: 1rem;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: var(--h_standard_size);
}

h2 {
    font-family: 'Nerko One', cursive;
    font-weight: 100;
    font-size: var(--h_standard_size);
}

h3 {
    font-family: 'Nerko One', cursive;
    font-weight: 100;
    font-size: calc(var(--h_standard_size) * 1.5);
}

h4 {
    font-family: 'Mulish', sans-serif;
}

p {
    font-family: 'Mulish', sans-serif;
}

a {
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 0;
}

ul {
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    padding: 0;
    list-style-type: none;
}

.button {
    display: inline-block;
    
    background-color: rgb(18, 186, 124);
    border-radius: var(--button_border_radius);
    padding: var(--button_padding_vertical) var(--button_padding_side);
    width: fit-content;

    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    font-size: var(--button_text_size);
}



/* Bakgrund */
html { 
    background: white no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backdrop-filter: 0;
    -webkit-backdrop-filter: blur(10px);
}



/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    width: 100%;
    background-color: white;
}

#card_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--header_height);

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-right: var(--padding_default);
    padding-left: var(--padding_default);
    transition: 0.2s;
}

#card_nav > nav {
    display: flex;
    align-items: center;

    height: var(--nav_height);
}

#card_nav > nav > *:not(:last-child) {
    margin-right: var(--nav_spacing);
}

#card_nav > nav > a {
   height: var(--nav_height);

   text-decoration: none;
   color: black;
   font-weight: 900;
   font-size: var(--nav_height);
}

#card_nav > nav > a > img {
    height: 100%;
}



/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: var(--footer_height);
    
    background:rgb(0,145,91);
    padding: var(--footer_padding_top) calc(50% - var(--footer_content_width)/2);
}

#footer_binder {
    display: flex;
    justify-content: space-between;
    align-items: top;

    width: 100%;
}

.footer_column::before {
    content:attr(aria-label);
    font-size:120%;
    font-weight:bolder;
    color: rgba(255, 255, 255, 0.85);
    font-size: calc(var(--footer_font_size) * 1.2);
    line-height: calc(var(--footer_font_size) * 5);
}

.footer_column > li > a {
    font-weight: 550;
    color: rgba(255, 255, 255, 0.85);
    font-size: var(--footer_font_size);
    line-height: calc(var(--footer_font_size) * 2.5);
}

#footer_copyright {
    width: 100%;

    text-align: right;
    color: rgba(255, 255, 255, 0.85);
    font-size: var(--footer_font_size);

    margin-top: var(--footer_font_size);
}

#footer_column_events {
    grid-area: ev;
}

#footer_column_plan {
    grid-area: pl;
}

#footer_column_school {
    grid-area: sc;
}

#footer_column_other {
    grid-area: ot;
}

#footer_divider{
    width: 100%;
    height: var(--footer_divider_width);
    background: rgba(255, 255, 255, 0.699);

    margin-top: var(--footer_divider_margin);
}



/* Binder */
#binder {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: calc(var(--header_height) - var(--picture_margin));
}

#binder > * {
    margin-bottom: var(--card_spacing);
}



/* Kort */
.card {
    display: grid;

    width: var(--card_width);

    background-color: rgb(255, 255, 255);
    border-radius: var(--card_border_radius);
    padding: calc(var(--picture_margin)/2);
}

#card_top {
    width: var(--card_width);
    height: calc(var(--square_img_width)*4);
}

#top_left_1 {
    grid-area: left1;
    background: url(../img/top/left1.jpeg);
    background-size: cover;
}

#top_left_2 {
    grid-area: left2;
    background: url(../img/top/left2.jpg);
    background-size: cover;
}

#top_left_3 {
    grid-area: left3;
    background: url(../img/top/left3.webp);
    background-size: cover;
}

#top_right {
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding: 10vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.788)), url(../img/top/right.jpg);
    background-size: cover;
}

#top_right > p {
    width: 35vw;
}

#top_right > *:not(:last-child) {
    color: white;
    margin-bottom: 1vh;
}

#top_right > :last-child {
    margin-top: 1.5vh;
}

.top_articles {
    background-color: black;
    border-radius: var(--card_border_radius);
    margin: calc(var(--picture_margin)/2);
}

#top_big {
    background: url(../img/top/right.jpg);
    background-size: cover;
}

#card_explore {
    background-color: rgb(14,111,238);
    border-radius: 0;
    width: 100%;
    height: 120vh;
}

#card_donate {
    grid-template-columns: min-content(50%, 100%) var(--donate_img_size);
    grid-template-rows: var(--donate_img_size);
    grid-template-areas:
    "text img";

    height: cal(var(--square_img_width)*3);
}

#card_donate_text {
    display: flex;
    grid-area: text;

    flex-direction: column;
    align-items: left;
    justify-content: center;
}

#card_donate_text > *:not(:last-child) {
    margin-bottom: 15px;
}

#card_donate_img {
    grid-area: img;

    width: var(--donate_img_size);
    height: var(--donate_img_size);

    border-radius: var(--card_border_radius);

    background: url(../img/animals/meerkats-zoo-animals-zoological-garden-preview.jpeg);
    background-size: cover;
}

#card_donate_text > h2 {
    font-size: calc(var(--donate_text_size) * 2.25);
}

#card_donate_text > p {
    font-size: var(--donate_text_size);
    line-height: calc(var(--donate_text_size) * 2);
    padding-right: 5vw;
}